* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1675AA;
    margin-top: 1.8rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

form > .row {
    margin-left: 0!important;
}

.input-field {
    margin-left: 0;
    padding-left: 0!important;
}

.input-field.col label {
    left: 0;
}

#listaRiepilogo {
    list-style: none;
    font-size: 1.1em;
}

#listaRiepilogo li::before {
    content: "\2022";
    color: #1675AA;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.hidden {
    display: none;
}

.hiddendiv {
    max-width: 100%!important;
}

.btn {
    background-color: #1675AA;
}

.btn:hover {
    background-color: #1675AAC4;
}

.dropdown-content li > span {
    color: #1675AA;
}

#header {
    margin-top: 1em;
    display: flex;
}

.auto-margin {
    margin: auto;
}

.fieldTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.no-margin {
    margin: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.card-panel {
    background-color: #f9f9f9;
}

.infoLabel {
    font-size: 0.8rem;
    color: #595858;
    margin: 0;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #1675AA;
}

input.valid[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #1675AA;
    box-shadow: 0 1px 0 0 #1675AA;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
    color: #1675AA;
}

input[type="text"]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #1675AA;
    box-shadow: 0 1px 0 0 #1675AA;
}

textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #1675AA;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1675AA;
    box-shadow: 0 1px 0 0 #1675AA;
}

blockquote {
    border-color: #1675AA;
    font-size: 1.2em;
    margin-left: 0.75rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
    #header {
        display: block;
    }

    #logo {
        max-height: 10em;
    }
    
    h1 {
        font-size: 2.2rem;
        margin-top: 1rem;
    }
    
    h2 {
        font-size: 1.56rem;
        margin: 0;
    }
}

/* tablet */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    h1 {
        font-size: 3.2rem;
        margin-top: 1rem;
    }
    
    h2 {
        font-size: 2.56rem;
        margin: 0;
    }
}

.carbonColor {
    background-color: #1675AA;
}

.icon {
    color: #1675AA;
    margin-right: 0.5em;
    font-size: 14px;
}

.error {
    color: rgba(255, 0, 0, 0.774);
    padding: 0;
}

.chartP {
    padding: 0;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 1.5em;
}

#home {
    margin-top: 4em;
}

#infoDownload {
    margin-bottom: 1.5em;
}

.page-footer {
    background-color: #1675AA;
    padding-top: 0;
}

#chart {
    max-width: 60%;
    margin: 0 auto;
}
