.idea/
.vscode/

addestramento/.idea/
addestramento/.vscode/
addestramento/coverage/
addestramento/node_modules/
addestramento/package-lock.json
addestramento/yarn.lock

predire-in-grafana-app/.idea/
predire-in-grafana-app/.vscode/
predire-in-grafana-app/coverage/
predire-in-grafana-app/dist/
predire-in-grafana-app/node_modules/
predire-in-grafana-app/package-lock.json
predire-in-grafana-app/yarn.lock
