/addestramento/.vscode/*
/.idea/
/addestramento/.idea/
/predire-in-grafana-app/.idea/
/predire-in-grafana-app/dist/
/predire-in-grafana-app/node_modules/
/predire-in-grafana-app/package-lock.json
/predire-in-grafana-app/yarn.lock
/predire-in-grafana-app/coverage
/addestramento/node_modules/
/addestramento/coverage/
/addestramento/package-lock.json
