<!DOCTYPE html>
<html lang="it">
<head>
    <title>Pagina di addestramento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="/images/logomini.png"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Carbon12"/>
    <meta name="title" content="Addestramento - Predire in Grafana"/>
    <meta name="description" content="Pagina di addestramento dei modelli di machine learning"/>
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/solid.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/Chart.min.js"></script>
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/js/carbonScript.js"></script>
</head>
<body>

<main>
<div class="container">
    <div class="row center-align" id="header">
        <div class="col s12 m3 l2 auto-margin">
            <img class="responsive-img" id="logo" src="/images/logo.png" alt="logo"/>
        </div>
        <div class="col s12 m9 l10">
            <h1>Predire in Grafana</h1>
            <h2>Pagina di addestramento</h2>
        </div>
    </div>

    <blockquote>
        In questa pagina è possibile addestrare il modello di predizione
        per ottenere il predittore da inserire nel plug-in
    </blockquote>

    <div class="row no-margin-bottom">
        <div class="col s12">
            <div class="card-panel">
                <p class='error'><%= error2 %></p>
                <form action="fileupload" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <p class="fieldTitle">Seleziona il file coi dati di addestramento (formato CSV):</p>
                        <p class="infoLabel"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                            In fondo a questa pagina potrai visualizzare un grafico con la disposizione dei tuoi dati.</p>
                        <div class="file-field input-field no-margin-bottom col s12 m8 l6 xl4">
                            <div class="btn">
                                <span>CSV</span>
                                <input type="file" id="trainFile" accept=".csv" name="trainFile" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin-bottom hidden" id="titleBlockLabelCsv">
                        <div class="input-field col s6 m4 l3 xl2 no-margin" id="blockLabelCsv">
                        </div>
                    </div>
                    <div class="row">
                        <p class="fieldTitle">Seleziona il file con la configurazione del modello (formato JSON):</p>
                        <p class="infoLabel"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                            Se desideri aggiornare il modello,
                            inserisci il file JSON con la configurazione ottenuto nel precedente allenamento.
                        </p>
                        <div class="file-field input-field no-margin-bottom col s12 m8 l6 xl4">
                            <div class="btn">
                                <span>JSON</span>
                                <input type="file" id="configFile" accept=".json" name="configFile">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <p class="fieldTitle">Seleziona il modello da addestrare</p>
                    <div class="row">
                        <div class="input-field col s6 m4 l3 xl2 no-margin">
                            <select name="modello" id="modelType">
                                <option selected value="SVM">SVM</option>
                                <option value="RL">RL</option>
                            </select>
                        </div>
                    </div>
                    <p class="fieldTitle">Inserisci delle note per il predittore</p>
                    <p class="infoLabel"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                        Queste informazioni verranno salvate nel file di configurazione che otterrai alla fine
                        dell'addestramento.
                        In seguito saranno utili per ricordare con quali parametri è stato allenato il modello.
                    </p>
                    <div class="row">
                        <div class="input-field col s12 no-margin-bottom">
                            <textarea id="textarea1" class="materialize-textarea" id="note" rows="4" cols="100"
                                      name="note" required></textarea>
                            <label for="textarea1">Le tue note...</label>
                        </div>
                    </div>
                    <p class="fieldTitle">Inserisci il nome del file Predittore</p>
                    <p class="infoLabel"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                        Di default il nome del file sarà predittore.
                        Puoi inserire un nome più significativo per il file di configurazione (max. 50char).
                    </p>
                    <div class="row">
                        <div class="input-field col s12 m8 l6 xl4">
                            <input type="text" id="nomeFile" name="nomeFile" maxlength="50">
                            <label for="nomeFile">predittore</label>
                        </div>
                    </div>

                    <div class="row center-align no-margin-bottom">
                        <button class="btn waves-effect waves-light" type="submit" id="btn-submit" name="action">
                            AVVIO ADDESTRAMENTO
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="infoLabel"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                Verrà visualizzato un grafico con la distribuzione dei dati inseriti. </br>
                Se non si conosce ancora quale modello è più adatto per l'allenamento, lasciando tutta la colonna Labels
                con valore `0`,
                il programma visualizzerà la disposizione dei dati permettendo di comprendere quale sia il modello più
                adatto. <br/>
                Se invece si intende utilizzare il modello SVM e i dati sono già stati classificati con le etichette -1,
                1,
                il grafico riporterà la distribuzione dei dati con la classificazione inserita: i dati con etichetta 1
                saranno visualizzati in verde,
                i dati con etichetta -1 saranno visualizzati in rosso. <br/>
                Infine, nel caso della RL in cui le etichette avranno valori continui diversi dai soli 1 e -1,
                il grafico visualizzerà la distribuzione dei dati e la retta di regressione risultante.
            </p>
        </div>
    </div>

    <div class="row">
        <div id="mychart" class="col s12">
        </div>
    </div>

</div>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Predire in Grafana
            <a class="grey-text text-lighten-4 right">by Carbon12</a>
        </div>
    </div>
</footer>

</body>
</html>
