<!DOCTYPE html>
<html lang="it">
<head>
    <title>Pagina di download</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="/images/logomini.png"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Carbon12"/>
    <meta name="title" content="Download Predittore - Predire in Grafana"/>
    <meta name="description" content="Pagina di download del predittore"/>
    <link href="/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/solid.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/materialize.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
<div class="container">
    <div class="row center-align" id="header">
        <div class="col s12 m3 l2 auto-margin">
            <img class="responsive-img" id="logo" src="/images/logo.png" alt="logo"/>
        </div>
        <div class="col s12 m9 l10">
            <h1>Predire in Grafana</h1>
            <h2>Pagina di download</h2>
        </div>
    </div>

    <blockquote>
        Il file con il predittore addestrato è pronto. Procedere con il download.
    </blockquote>

    <div class="row">
        <div class="col s12">
            <p class="infoLabel" id="infoDownload"><span class="fa fa-info-circle icon" aria-hidden="true"></span>
                Il file comparirà nella cartella Download del tuo computer.
                Questo dovrà essere caricato nel plug-in per iniziare la previsione dei tuoi dati su Grafana.
            </p>

            <div class="card-panel">
                <p class="fieldTitle">Parametri di allenamento:</p>
                <ul id="listaRiepilogo">
                    <li>Modello utilizzato: <%= model2 %></li>
                    <li>Sorgenti analizzate: <%= sources2 %></li>
                </ul>
                <form action="downloadFile" method="post" id="formDownload">
                    <div class="row center-align no-margin-bottom">
                        <button class="btn waves-effect waves-light" type="submit" id="download" name="download">
                            DOWNLOAD PREDITTORE
                        </button>
                    </div>
                </form>
            </div>

            <div class="row center-align">
                <button class="btn waves-effect waves-light" onclick="window.location.href='/'" type="submit" id="home">
                    Torna all'homepage
                </button>
            </div>
        </div>
    </div>
</div>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Predire in Grafana
            <a class="grey-text text-lighten-4 right">by Carbon12</a>
        </div>
    </div>
</footer>

</body>
</html>
