<div>
  <div class="page-header">
    <h1>Predire in Grafana</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p ng-if="ctrl.dashboardExists">In questa pagina puoi gestire gli alert e le soglie della dashboard <a href="/d/carbon12/predire-in-grafana" style="color: #ffe524;">Predire in Grafana</a>.</p>
      <p ng-if="!ctrl.dashboardExists">In questa pagina puoi gestire gli alert e le soglie della dashboard Predire in Grafana.</p>
    </div>
  </div>

  <div class="gf-form-group">
    <div ng-if="ctrl.dashboardExists && ctrl.dashboardEmpty">
      <div class="row">
        <div class="col-md-10">
          <p>La dashboard è vuota</p>
        </div>
      </div>
    </div>

    <button  ng-if="!ctrl.dashboardExists" class="btn btn-primary"
      ng-click="ctrl.redirect()">Crea una Dashboard</button>

    <div ng-if="ctrl.dashboardExists" class="gf-form-group">
      <button class="btn btn-primary"
        ng-click="ctrl.redirect()">Vai alla Dashboard</button>
    </div>

    <div ng-if="ctrl.panelsList && ctrl.dashboardExists && !ctrl.dashboardEmpty" class="gf-form-group">
      <div ng-if="ctrl.isRL.indexOf(true) === -1 && ctrl.isGraph.indexOf(true) === -1" class="gf-form-group">
        <div class="row">
          <div class="col-md-10">
            <p>Gli alert e le soglie dei pannelli che utilizzano la SVM non sono configurabili.</p>
          </div>
        </div>
      </div>

      <div ng-if="ctrl.isRL.indexOf(true) !== -1 || ctrl.isGraph.indexOf(true) !== -1" class="gf-form-group">
        <div class="gf-form-group">
          <div class="gf-form">
            <label class="gf-form-label width-8">Notifica alert a:</label>
            <input type="text" class="gf-form-input width-25" placeholder="Microsoft Teams WebHook URL"
              ng-model="ctrl.teamsUrl"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p>Imposta gli alert e le soglie dei pannelli di tuo interesse.
              Gli alert e le soglie dei pannelli che utilizzano la SVM non sono configurabili.</p>
            <p><i class="gicon gicon-alert"></i>:&nbsp;&nbsp;pannello che permette
              la notifica a Microsoft Teams</p>
          </div>
        </div>

        <section class="card-list-layout-grid">
          <ol class="card-list">
            <li ng-repeat="panel in ctrl.panelsList" ng-if="ctrl.isRL[$index]" class="card-item-wrapper">
              <div class="card-item preloader" style="background: #2f2f32;" onMouseOver="this.style.background='#2f2f32'">
                <p ng-if="ctrl.isGraph[$index]"" class="card-item-header h6 text-center">
                  <i class="gicon gicon-alert"></i>&nbsp;&nbsp;{{panel}}</p>
                <p ng-if="!ctrl.isGraph[$index]" class="card-item-header h6 text-center">{{panel}}</p>
                <div class="card-item-body">
                  <div class="card-item-details">
                    <div class="gf-form">
                      <label class="gf-form-label width-6">Valore:</label>
                      <input type="text" class="gf-form-input ReactTable grafana-options-table"
                        pattern="^((-)?([0-9]+)?([0.9]+.[0-9]+)?)$" ng-model="ctrl.value[$index]"/>
                    </div>
                    <div class="gf-form">
                      <label class="gf-form-label width-6">Quando:</label>
                      <div class="gf-form-select-wrapper grafana-options-table">
                        <select class="gf-form-input ReactTable" ng-model="ctrl.when[$index]"
                          ng-options="w for w in ['superiore','inferiore']"/>
                      </div>
                    </div>
                    <div ng-if="ctrl.isGraph[$index] && ctrl.teamsUrl" class="gf-form">
                      <label class="gf-form-label width-6">Messaggio:</label>
                      <textarea class="gf-form-input ReactTable grafana-options-table" rows="2"
                        ng-model="ctrl.message[$index]" placeholder="Inserisci il messaggio da inviare..."/>
                    </div>

                    <br/>

                    <div class="text-center">
                      <button class="btn btn-danger" ng-click="ctrl.clearAlertsState($index)">
                        <i class="fa fa-trash"></i>&nbsp;&nbsp;Elimina</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </section>

        <br/>

        <div class="gf-form pull-left">
          <button class="btn btn-primary" ng-click="ctrl.configAlerts()">Conferma</button>
        </div>
        <div class="gf-form navbar-button--refresh">
          <button class="btn-title btn btn-danger" ng-click="ctrl.step = 2">
            <i class="fa fa-trash"></i>&nbsp;&nbsp;Elimina Tutto</button>
        </div>

        <div ng-if="ctrl.step === 2" class="modal-backdrop in"></div>
        <div ng-if="ctrl.step === 2" class="modal hide modal--narrow confirm-modal in show">
          <div class="modal-body">
            <div class="modal-header">
              <h2 class="modal-header-title">
                <i class="fa fa-trash"></i>
                <span class="p-l-1">Conferma di cancellazione</span>
              </h2>
              <a class="modal-header-close" ng-click="ctrl.step = 1">
                <i class="fa fa-remove"></i>
              </a>
            </div>
            <div class="modal-content text-center">
              <div class="confirm-modal-text">
                Sei sicuro di voler rimuovere tutti gli alert?
              </div>
              <div class="confirm-modal-buttons">
                <button type="button" class="btn btn-primary"
                  ng-click="ctrl.clearAlertsState(); ctrl.configAlerts(); ctrl.step = 1">Si</button>
                <button type="button" class="btn btn-danger"
                  ng-click="ctrl.step = 1">Annulla</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
