<div>
  <div class="page-header">
    <h1>Predire in Grafana</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p>In questa pagina è possibile configurare il plug-in.</p>
    </div>
  </div>

  <div ng-if="ctrl.step === 1" class="gf-form-group">
    <form class="gf-form">
      <label class="btn btn-primary" for="dashupload">Carica file JSON</label>
      <dash-upload class="hide" on-upload="ctrl.onUpload(dash)" />
    </form>
  </div>

  <div ng-if="ctrl.step === 2" class="gf-form-group">
    <div class="text-success p-l-1">
      <i class="fa fa-check"></i>
      {{'JSON importato'}}
    </div>

    <br />
    <br />

    <p>Seleziona una sorgente dati</p>
    <div class="gf-form-inline">
      <label class="gf-form-label width-8">Sorgente dati:</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input" ng-model="ctrl.dataSource" ng-options="ds for ds in ctrl.availableDataSources" />
      </div>
    </div>
    <div class="gf-form-button-row">
      <button type="button" class="btn btn-primary" ng-click="ctrl.setDataSource(ctrl.dataSource)">Conferma</button>
      <span ng-if="ctrl.error.includes('selezionare')" class="text-error p-l-1">
        <i class="fa fa-warning"></i>
        {{ctrl.error}}
      </span>
    </div>

    <br />
    <br />

    <p>O configurane una</p>
    <div class="gf-form">
      <label class="gf-form-label width-6">Nome:</label>
      <input type="text" class="gf-form-input width-12" ng-model="ctrl.name">
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-6">Database:</span>
      <input type="text" class="gf-form-input width-12" ng-model="ctrl.database">
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <span class="gf-form-label width-6">Host:</span>
        <input type="text" class="gf-form-input width-12" ng-model="ctrl.host">
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-6">Port:</span>
        <input type="text" class="gf-form-input width-6" ng-model="ctrl.port">
      </div>
    </div>
    <div class="gf-form-button-row">
      <button type="button" class="btn btn-primary" ng-click="ctrl.addDataSource()">Conferma</button>
      <span ng-if="ctrl.error.includes('configurazione')" class="text-error p-l-1">
        <i class="fa fa-warning"></i>
        {{ctrl.error}}
      </span>
    </div>
  </div>

  <div ng-if="ctrl.step >= 3" class="gf-form-group">
    <div class="text-success p-l-1">
      <i class="fa fa-check"></i>
      {{'JSON importato'}}
    </div>

    <br />

    <div class="text-success p-l-1">
      <i class="fa fa-check"></i>
      {{'Sorgente dati selezionata'}}
    </div>

    <br />
    <br />

    <div class="gf-form-group">
      <button ng-if="ctrl.step === 3" type="button" class="btn btn-secondary"
        ng-click="ctrl.step = (ctrl.step === 3) ?  4 : 3">Visualizza note JSON</button>
      <button ng-if="ctrl.step === 4" type="button" class="btn btn-secondary"
        ng-click="ctrl.step = (ctrl.step === 3) ?  4 : 3">Chiudi note JSON</button>
      <div ng-if="ctrl.step === 4">
        <textarea class="gf-form-input h6 width-30" readonly ng-model="ctrl.notes"></textarea>
      </div>
    </div>

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Modello:</label>
        <input type="text" class="gf-form-input width-4" readonly ng-model="ctrl.model" />
      </div>
    </div>

    <section class="card-list-layout-grid card-list-layout-grid--max-2-col">
      <ol class="card-list">
        <li ng-repeat="dataEntry in ctrl.availableDataEntry" class="card-item-wrapper">
          <div class="card-item preloader">
            <p class="card-item-header h6 text-center">{{dataEntry}}</p>
            <div class="card-item-body">
              <div class="card-item-details">
                <div class="gf-form">
                  <label class="gf-form-label width-6">Sorgente:</label>
                  <div class="gf-form-select-wrapper grafana-options-table">
                    <select class="gf-form-input" ng-model="ctrl.sources[$index]"
                      ng-options="s for s in ctrl.availableSources"
                      ng-change="ctrl.instances[$index] = ctrl.availableInstances[
                            ctrl.availableSources.indexOf(ctrl.sources[$index])
                          ][0];
                          ctrl.params[$index] = ctrl.availableParams[
                            ctrl.availableSources.indexOf(ctrl.sources[$index])
                          ][0]" />
                  </div>
                </div>
                <div ng-if="!ctrl.sources[$index] || ctrl.instances[$index]" class="gf-form">
                  <label class="gf-form-label width-6">Istanza:</label>
                  <div class="gf-form-select-wrapper grafana-options-table">
                    <select class="gf-form-input" ng-model="ctrl.instances[$index]"
                    ng-options="i for i in ctrl.availableInstances[
                          ctrl.availableSources.indexOf(ctrl.sources[$index])
                        ]" />
                  </div>
                </div>
                <div class="gf-form">
                  <label class="gf-form-label width-6">Parametro:</label>
                  <div class="gf-form-select-wrapper grafana-options-table">
                    <select class="gf-form-input" ng-model="ctrl.params[$index]"
                      ng-options="p for p in ctrl.availableParams[
                          ctrl.availableSources.indexOf(ctrl.sources[$index])
                        ]" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </section>

    <br />

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Visualizzazione:</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.view" ng-options="v for v in ['Grafico','Indicatore']" />
        </div>
      </div>
    </div>

    <br />

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-8">Nome pannello:</label>
        <input ng-if="ctrl.view === 'Grafico'" type="text" class="gf-form-input width-14"
          placeholder="Grafico di Predizione" ng-model="ctrl.panelName">
        <input ng-if="ctrl.view === 'Indicatore'" type="text" class="gf-form-input width-14"
          placeholder="Indicatore di Predizione" ng-model="ctrl.panelName">
      </div>
      <div class="gf-form">
        <button class="btn btn-success" ng-click="ctrl.createPanel()">Crea Pannello</button>
        <span ng-if="ctrl.error" class="text-error p-l-1">
          <i class="fa fa-warning"></i>
          {{ctrl.error}}
        </span>
      </div>
    </div>
  </div>
