<div>
  <div class="page-header">
    <h1>Predire in Grafana</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p ng-if="ctrl.dashboardExists">In questa pagina puoi gestire la predizione della dashboard <a href="/d/carbon12/predire-in-grafana" style="color: #ffe524;">Predire in Grafana</a>.</p>
      <p ng-if="!ctrl.dashboardExists">In questa pagina puoi gestire la predizione della dashboard Predire in Grafana.</p>
    </div>
  </div>

  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-7">Predici ogni:</label>
        <input type="text" class="gf-form-input width-6" pattern="^(([1-9]+)?([0.9]*.[0-9]+)?)$"
          ng-model="ctrl.time"/>
      </div>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input"
          ng-model="ctrl.timeUnit" ng-options="t for t in ['secondi','minuti']"/>
      </div>
      <div ng-if="!ctrl.started" class="gf-form">
        <button class="btn btn-primary"
          ng-click="ctrl.startPrediction()">Start</button>
      </div>
      <div ng-if="ctrl.started" class="gf-form">
        <button class="btn btn-danger"
          ng-click="ctrl.stopPrediction()">Stop</button>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.dashboardExists" class="gf-form">
    <button class="btn btn-primary"
      ng-click="ctrl.redirect()">Vai alla Dashboard</button>
  </div>
</div>
